{{ '//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css' | stylesheet_tag }}
{{ '//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js' | script_tag }}
<script src="{{ "adaptive-crledbg.js" | asset_url }}"></script>
<style>
.lazyload,.lazyloading{opacity:0}
.lazyloaded{opacity:1;transition:opacity.3s}
.product-main.container {
    margin-top: 80px;
}
.bottom-slider.slider.slider-nav {
  margin-top: 10px;
}
.slick-slide img {
  margin: 0 auto;
}
.bottom-slider .slick-slide {
padding: 0 3px;
}

  .slider-nav  .slick-dots {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
        justify-content: center;
    z-index: 9;
}
  
  .slick-dots li {
    margin: 0 !important;
}
  .slick-dots {
    bottom: unset;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots span {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s;
    margin: 0 2px;
    background: #ddd;
  }

.slick-dots .slick-active span {
    background: #7E7246;
    width: 20px;
    border-radius: 10px;
  }
 
.slider-nav .slick-arrow{
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto;
	background-color: rgb(226 226 223 / 35%);
	border-radius: 60px;
	border: 2px solid #fff;
	cursor: pointer;
	outline: none;
	z-index: 2;
}
   .slick-arrow:hover {
    background: linear-gradient(-90deg, #fff 50%, #fff 50%);
}
.slider-nav .slick-arrow.slick-prev{
	left: -20px;
}
.slider-nav .slick-arrow.slick-next{
	right: -20px;
}
.slider-nav .slick-arrow:before{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-top: 2px solid #858333;
	border-left: 2px solid #858333;
}
.slider-nav .slick-arrow.slick-prev:before {
	transform: rotate(-45deg) translate(2px, 2px);
}
.slider-nav .slick-arrow.slick-next:before {
	transform: rotate(135deg) translate(2px, 2px);
}
</style>

<div class="product-main container">
        <div class="top-slider slider slider-for">
          {% for image in product.images %}
          <div class="slick-slide">
             <a data-fancybox="gallery" href="{{ image.src | img_url: '1200x1200'}}">
            <img class="lazyload" src="{{ image.src | img_url: "500x500" }}">
             </a>
          </div>
          {% endfor %}
        </div>
        <div class="bottom-slider slider slider-nav">
          {% if product.media.size > 1 %}
   
              {% for media in product.media %}
                <a data-thumbnail-id="{{ media.id }}">
                   <img class="lazyload" src="{{ media.preview_image | image_url: width: "120x"}}" >
                </a>
              {% endfor %}
         
          {% endif %}
        </div>

      </div>


      <script>
        $('.slider-for').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          cssEase: 'linear',
          asNavFor: '.slider-nav',
        });
        $('.slider-nav').slick({
          slidesToShow: 4,
          slidesToScroll: 1,
          asNavFor: '.slider-for',
          dots: true,
          arrows: true,
          cssEase: 'linear',
          centerMode: false,
          focusOnSelect: true,
          customPaging : function(slider, i) {
        return '<span></span>';
      },
          responsive: [
            {
              breakpoint: 1280,
              settings: {
                slidesToShow: 4
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 4
              }
            },
            {
              breakpoint: 608,
              settings: {
                slidesToShow: 4
              }
            }

          ]
        });
        $(document).ready(function(){
  $.adaptiveBackground.run();
});

      </script>
